apiVersion: dataflow.dataflow.io/v1
kind: DataFlow
metadata:
  name: flatten-example
spec:
  source:
    type: kafka
    kafka:
      brokers:
        - localhost:9092
      topic: stock-topic
      consumerGroup: dataflow-group
  sink:
    type: postgresql
    postgresql:
      connectionString: "postgres://dataflow:dataflow@postgres:5432/dataflow?sslmode=disable"
      table: stock_items
      autoCreateTable: true
  transformations:
    - type: flatten
      flatten:
        field: rowsStock
    - type: timestamp
      timestamp:
        fieldName: created_at

