apiVersion: dataflow.dataflow.io/v1
kind: DataFlow
metadata:
  name: rabbitmq-to-iceberg
spec:
  source:
    type: rabbitmq
    rabbitmq:
      url: "amqp://guest:guest@localhost:5672/"
      queue: rabbitmq-input
  sink:
    type: iceberg
    iceberg:
      restCatalogUrl: "http://localhost:8081"
      namespace: default
      table: test_rabbitmq_iceberg
      autoCreateNamespace: true
      autoCreateTable: true
  transformations:
    - type: timestamp
      timestamp:
        fieldName: created_at

